<h1>id: <%= @rask.id %> の編集ページ</h1>

<%= form_with(model: @rask, local: true) do |f| %>
  <%= f.label :content, 'ラスク' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', rasks_path %>