<h1>id: <%= @rask.id %> ラスク詳細ページ</h1>

<p>ステータス：<%= @rask.content %></p>
<p>ラスク：<%= @rask.content %></p>

<%= link_to '一覧に戻る', rasks_path %>
<%= link_to '編集ページへ', edit_rask_path %>
<%= link_to '削除する', @rask, method: :delete, data: { confirm: '本当によろしいですか？' } %> 